/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/login/loginPage.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.loginPage_loginFormContainer___LV3B {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background-color: #282c34;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.loginPage_loginFormContainer___LV3B h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.loginPage_loginInput__5d9gd {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.loginPage_passwordContainer__igm8Y {
  position: relative;
}

.loginPage_errorMessage__x5gky {
  color: red;
  margin-top: 10px;
  text-align: center;
}

.loginPage_loginButton__emV6a {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.loginPage_loginButton__emV6a:hover {
  background-color: #2980b9;
}

@media (max-width: 768px) {
  .loginPage_loginFormContainer___LV3B {
    width: 90%;
  }
}

/*!*****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/components/sideBar/sideBar.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************/
.sideBar_sidebar__fgCww {
  width: 200px;
  background-color: #333;
  color: white;
  padding: 20px;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sideBar_sidebar__fgCww ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sideBar_sidebar__fgCww li {
  margin-bottom: 25px;
  font-size: 1.5rem;
}

.sideBar_sidebar__fgCww a {
  text-decoration: none;
  color: #fff;
}

.sideBar_sidebar__fgCww a:hover {
  color: orange;
}

@media (max-width: 768px) {
  .sideBar_sidebar__fgCww {
    width: 100%;
    height: auto;
    position: relative;
    padding: 10px;
  }

  .sideBar_sidebar__fgCww ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sideBar_sidebar__fgCww li {
    margin-bottom: 15px;
    font-size: 1.2rem;
  }
}

/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[13].use[5]!./src/app/globals.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: sans-serif;
  background-color: #282c34;
}
