/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/home/homePage.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
.homePage_homePageContainer__i3Tuu {.homePage_homePageContainer__i3Tuu button {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.homePage_homePageContainer__i3Tuu button:hover {
  background-color: #2980b9;
}

  padding: 20px;
}

.homePage_homePageContainer__i3Tuu h1 {
  text-align: center;
  color: #f9f9f9;
}

.homePage_homePageContainer__i3Tuu ul {
  list-style: none;
  padding: 0;
}

.homePage_homePageContainer__i3Tuu li {
  background: #f9f9f9;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.homePage_homePageContainer__i3Tuu button {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.homePage_homePageContainer__i3Tuu button:hover {
  background-color: #2980b9;
}

/*!*****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/components/sideBar/sideBar.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************/
.sideBar_sidebar__fgCww {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 145px;
  background-color: #333;
  padding: 20px;
}

.sideBar_sidebar__fgCww ul {
  list-style-type: none;
  padding: 0;
}

.sideBar_sidebar__fgCww li {
  margin-bottom: 25px;
  font-size: 25px;
}

.sideBar_sidebar__fgCww a {
  text-decoration: none;
  color: #fff;
}

.sideBar_sidebar__fgCww a:hover {
  color: #007bff;
}

/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/globals.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
html {
  height: 100%;

  justify-content: center;
  align-items: center;
}

body {
  /* margin: 0;
  padding: 0; */
  font-family: sans-serif;
  background: linear-gradient(#141e30, #243b55);
}

.content {
  margin-left: 180px;
  color: white;
}

/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/app/components/todoList/style/taskItem.module.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.taskItem_task-item__qCynE {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}
.taskItem_task-item__input__xsC2U, .taskItem_task-item__textarea___fSwp, .taskItem_task-item__select__X6IUY {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.taskItem_task-item__button__5CJlN {
  padding: 5px 10px;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.taskItem_task-item__button__5CJlN:hover {
  background-color: #005bb5;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/app/components/todoList/style/taskList.module.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.taskList_task-list__uIsNh {
  font-family: "Arial", sans-serif;
}
.taskList_task-list__filters__iyJGM {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: center;
  flex-wrap: wrap;
}
.taskList_task-list__filters__iyJGM input, .taskList_task-list__filters__iyJGM select, .taskList_task-list__filters__iyJGM button {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}
.taskList_task-list__filters__iyJGM button {
  background-color: #2ecc71;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}
.taskList_task-list__filters__iyJGM button:hover {
  background-color: #27ae60;
}
.taskList_task-list__items__gdEeY {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}
.taskList_task-list__items__gdEeY .taskList_task-list__item__yQl_z {
  width: 100%;
  padding: 20px;
  border: 1px solid #eee;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.taskList_task-list__items__gdEeY .taskList_task-list__item-title__tTnMz {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.taskList_task-list__items__gdEeY .taskList_task-list__item-description__70gw_ {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
}
.taskList_task-list__items__gdEeY .taskList_task-list__item-status__zBGAZ,
.taskList_task-list__items__gdEeY .taskList_task-list__item-email__lSccM {
  font-size: 14px;
  margin-bottom: 10px;
}
.taskList_task-list__items__gdEeY .taskList_task-list__item-actions__ImHpH {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.taskList_task-list__items__gdEeY .taskList_task-list__item-button__duEaW {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}
.taskList_task-list__items__gdEeY .taskList_task-list__item-button__duEaW:hover {
  background-color: #c0392b;
}
.taskList_task-list__pagination__VZHMh {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.taskList_task-list__pagination-button__iXB8V {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}
.taskList_task-list__pagination-button__iXB8V:hover {
  background-color: #2980b9;
}
.taskList_task-list__pagination-button__iXB8V:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/app/components/todoList/style/taskAdd.module.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.taskAdd_add-task-form__4nnGM {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.taskAdd_add-task-form__input__xRY2V, .taskAdd_add-task-form__textarea__wqopY {
  display: block;
  width: 80%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.taskAdd_add-task-form__button__zjkwT {
  padding: 10px 20px;
  width: 80%;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.taskAdd_add-task-form__button__zjkwT:hover {
  background-color: #005bb5;
}
.taskAdd_add-task-form__error__7m0FK {
  color: red;
  margin-bottom: 10px;
}
