.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-left: 200px;
  color: white;
  background-color: #282c34;
  box-sizing: border-box;
}

.text {
  font-size: 2rem;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.15em solid orange;
  width: 33ch;
  animation:
    typing 4s steps(32),
    blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 33ch;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

@media (max-width: 768px) {
  .container {
    padding-left: 0;
    padding-top: 50px;
  }
}
