/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/logout/logout.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
.logout_container__0Z6tB {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-left: 200px;
}

.logout_content__vGRLU {
  text-align: center;
}

.logout_loginButton__fnipI {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  .logout_loginButton__fnipI:hover {
    background-color: #0056b3;
  }

  @media (max-width: 768px) {
    .logout_container__0Z6tB {
      padding: 0 20px;
    }

    .logout_content__vGRLU {
      width: 100%;
    }

    .logout_loginButton__fnipI {
      width: 100%;
      margin-top: 20px;
    }
  }
}

/*!*****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/components/sideBar/sideBar.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************/
.sideBar_sidebar__fgCww {
  width: 200px;
  background-color: #333;
  color: white;
  padding: 20px;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sideBar_sidebar__fgCww ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sideBar_sidebar__fgCww li {
  margin-bottom: 25px;
  font-size: 1.5rem;
}

.sideBar_sidebar__fgCww a {
  text-decoration: none;
  color: #fff;
}

.sideBar_sidebar__fgCww a:hover {
  color: orange;
}

@media (max-width: 768px) {
  .sideBar_sidebar__fgCww {
    width: 100%;
    height: auto;
    position: relative;
    padding: 10px;
  }

  .sideBar_sidebar__fgCww ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sideBar_sidebar__fgCww li {
    margin-bottom: 15px;
    font-size: 1.2rem;
  }
}

/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[13].use[5]!./src/app/globals.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: sans-serif;
  background-color: #282c34;
}
