.homePageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #282c34;
  color: white;
  margin-left: 200px;
  box-sizing: border-box;
  min-height: 100vh;
}

.homePageContainer h1 {
  text-align: center;
  color: #f9f9f9;
}

.homePageContainer button {
  display: block;
  width: 50%;
  margin-top: 20px;
  padding: 10px;
  font-size: 16px;
  background-color: #0c34e7;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.homePageContainer button:hover {
  background-color: #2980b9;
}

@media (max-width: 768px) {
  .homePageContainer {
    margin-left: 0;
    padding-top: 20px;
  }

  .homePageContainer button {
    margin: 10px auto;
    width: fit-content;
  }
}
